@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}

@keyframes fade-out {
    0% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
    }
}

@layer utilities {
    .animate-fade-in {
        animation: fade-in 0.2s ease-in-out forwards;
    }
    .animate-fade-out {
        animation: fade-out 0.2s ease-in-out forwards;
    }
}
