@theme {
    /* Fonts */
    --font-sans: 'Gotham', sans-serif;
    --font-gotham: 'Gotham', sans-serif;
    --font-signature: 'Signature', cursive;
    --font-narrow: 'Gotham Narrow', sans-serif;

    /* Breakpoints */
    --breakpoint-lg: 1280px;
    --breakpoint-3xl: 1920px;

    /* Colors */
    --color-neutral-0: #f9f9f9;
    --color-neutral-100: #d1d1d1;
    --color-neutral-200: #f0f2f4;
    --color-neutral-500: #a1a1a1;
    --color-neutral-700: #727272;
    --color-neutral-900: #444444;

    --color-primary-50: #edeff2;
    --color-primary-90: #f7f9fa;
    --color-primary-100: #b0bac6;
    --color-primary-200: #8a99aa;
    --color-primary-300: #546a84;
    --color-primary-500: #002147;
    --color-primary-700: #001732;
    --color-primary-0: #c1e2ff;
    --color-primary-10: #ecf6ff;

    --color-secondary-50: #ffeadc;
    --color-secondary-100: #283747;
    --color-secondary-200: #ffd2b0;
    --color-secondary-400: #ff8c33;
    --color-secondary-500: #ff6f00;
    --color-secondary-700: #b54f00;

    --color-danger-50: #ffeaea;
    --color-danger-100: #ffb5af;
    --color-danger-500: #ff2b2b;
    --color-danger-600: #e82727;
    --color-danger-700: #b51f1f;

    --color-points-1: #018850;
    --color-points-2: #01ac64;
    --color-points-3: #f2b705;
    --color-points-4: #d97904;
    --color-points-5: #b51f1f;
    --color-points-10: #e6f9f1;
    --color-points-20: #fcf1cd;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 2px);
    --radius-md: calc(var(--radius));
    --radius-lg: calc(var(--radius) + 2px);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: #f9f9f9;
    --foreground: var(--color-primary-500);
    --card: oklch(1 0 0);
    --card-foreground: var(--color-primary-500);
    --popover: var(--color-primary-500);
    --popover-foreground: var(--color-primary-500);
    --primary: oklch(0.205 0 0);
    --primary-foreground: var(--color-primary-500);
    --secondary: var(--color-secondary-500);
    --secondary-foreground: var(--color-secondary-500);
    --muted: var(--color-secondary-500);
    --muted-foreground: var(--color-primary-500);
    --accent: var(--color-secondary-500);
    --accent-foreground: var(--color-secondary-500);
    --destructive: oklch(0.577 0.245 27.325);
    --border: var(--color-neutral-50);
    --input: var(--color-primary-500);
    --ring: var(--color-primary-500);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: var(--color-secondary-500);
    --chart-3: var(--color-secondary-500);
    --chart-4: var(--color-secondary-500);
    --chart-5: var(--color-secondary-500);
    --sidebar: var(--color-primary-500);
    --sidebar-foreground: var(--color-primary-500);
    --sidebar-primary: var(--color-primary-500);
    --sidebar-primary-foreground: var(--color-primary-500);
    --sidebar-accent: var(--color-secondary-500);
    --sidebar-accent-foreground: var(--color-primary-500);
    --sidebar-border: var(--color-primary-500);
    --sidebar-ring: var(--color-primary-500);
}

.dark {
    --background: var(--color-neutral-900);
    --foreground: var(--color-neutral-50);
    --card: var(--color-neutral-800);
    --card-foreground: var(--color-neutral-50);
    --popover: var(--color-neutral-800);
    --popover-foreground: var(--color-neutral-50);
    --primary: var(--color-primary-500);
    --primary-foreground: var(--color-neutral-50);
    --secondary: var(--color-neutral-700);
    --secondary-foreground: var(--color-neutral-50);
    --muted: var(--color-neutral-700);
    --muted-foreground: var(--color-neutral-400);
    --accent: var(--color-neutral-700);
    --accent-foreground: var(--color-neutral-50);
    --destructive: var(--color-red-500);
    --border: var(--color-neutral-700);
    --input: var(--color-neutral-800);
    --ring: var(--color-primary-500);
    --chart-1: var(--color-blue-500);
    --chart-2: var(--color-green-500);
    --chart-3: var(--color-yellow-500);
    --chart-4: var(--color-purple-500);
    --chart-5: var(--color-orange-500);
    --sidebar: var(--color-neutral-900);
    --sidebar-foreground: var(--color-neutral-50);
    --sidebar-primary: var(--color-primary-500);
    --sidebar-primary-foreground: var(--color-neutral-50);
    --sidebar-accent: var(--color-neutral-700);
    --sidebar-accent-foreground: var(--color-neutral-50);
    --sidebar-border: var(--color-neutral-700);
    --sidebar-ring: var(--color-primary-500);
}
