@layer utilities {
    /* Background images */
    .bg-login {
        background-image: url('/img/login/bg-full.webp');
    }
    .bg-newlogin {
        background-image: url('/img/login/newlogin.png');
    }
    .bg-linear-to-l {
        background-image: linear-gradient(to left, var(--tw-gradient-stops));
    }
    .bg-linear-to-r {
        background-image: linear-gradient(to right, var(--tw-gradient-stops));
    }

    /* Container */
    .container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 12px;
        padding-right: 12px;
        max-width: 100%;
    }
    @media (min-width: 640px) {
        .container {
            max-width: 528px;
        }
    }
    @media (min-width: 768px) {
        .container {
            max-width: 640px;
        }
    }
    @media (min-width: 1280px) {
        .container {
            max-width: 1024px;
        }
    }
    @media (min-width: 1536px) {
        .container {
            max-width: 1280px;
        }
    }
    @media (min-width: 1920px) {
        .container {
            max-width: 1440px;
        }
    }
}
